site_name: hugo-template-dependencies
repo_url: https://github.com/finkregh/hugo-template-dependencies
site_url: https://finkregh.github.io/hugo-template-dependencies
site_description: This is a template repository for Python projects that use uv for their dependency management.
site_author: Oluf Lorenzen
edit_uri: edit/main/docs/
repo_name: finkregh/hugo-template-dependencies
copyright: Maintained by <a href="https://finkregh.com">finkregh</a>.

nav:
  - Home: index.md
  - Modules: modules.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src/hugo_template_dependencies"]
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/finkregh/hugo-template-dependencies
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/hugo-template-dependencies

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
