{{/* Author information display */}}
<div class="author-meta" itemscope itemtype="https://schema.org/Person">
    {{ if .showAvatar }}
        <div class="author-avatar">
            {{/* Use shared icon component for avatar fallback */}}
            {{ if .author.avatar }}
                <img src="{{ .author.avatar }}" alt="{{ .author.name }}" itemprop="image">
            {{ else }}
                {{ partial "shared/icon.html" (dict "name" "user" "class" "author-icon") }}
            {{ end }}
        </div>
    {{ end }}

    <div class="author-details">
        <span class="author-name" itemprop="name">
            {{ if .author.url }}
                <a href="{{ .author.url }}" itemprop="url">{{ .author.name }}</a>
            {{ else }}
                {{ .author.name }}
            {{ end }}
        </span>

        {{ if and .showBio .author.bio }}
            <div class="author-bio" itemprop="description">{{ .author.bio }}</div>
        {{ end }}

        {{ if .author.social }}
            <div class="author-social">
                {{ range .author.social }}
                    <a href="{{ .url }}" class="social-link" title="{{ .platform }}">
                        {{ partial "shared/icon.html" (dict "name" .platform "class" "social-icon") }}
                    </a>
                {{ end }}
            </div>
        {{ end }}
    </div>
</div>