{{/* Meta information controller - routes to specific meta components */}}
<div class="article-meta meta-{{ .style }}">
    {{/* Author information with conditional display */}}
    {{ if and .showAuthor .context.Params.author }}
        {{ partial "meta/author.html" (dict
            "author" .context.Params.author
            "context" .context
            "showAvatar" (ne .style "minimal")
            "showBio" (eq .style "full")
        ) }}
    {{ end }}

    {{/* Publication and modification dates */}}
    {{ if .showDate }}
        {{ partial "meta/published.html" (dict
            "context" .context
            "showModified" (and .context.Lastmod (ne .context.Date .context.Lastmod))
            "dateFormat" (.context.Site.Params.dateFormat | default "January 2, 2006")
        ) }}
    {{ end }}

    {{/* Reading time estimation */}}
    {{ if .showReadingTime }}
        <div class="reading-time">
            {{ .context.ReadingTime }} min read
        </div>
    {{ end }}

    {{/* Tags and categories with shared icon component */}}
    {{ if and .showTags (or .context.Params.tags .context.Params.categories) }}
        {{ partial "meta/tags.html" (dict
            "tags" .context.Params.tags
            "categories" .context.Params.categories
            "context" .context
            "useIcons" true
        ) }}
    {{ end }}
</div>
