<div class="recurrence-info">
  {{- partial "recurrence/debug_output.html" (dict "context" . "rule" $rule) -}}
  {{- if eq $rule.freq "DAILY" -}}
    {{- $result = partial "recurrence/daily_frequency.html" (dict "rule" $rule) -}}
  {{- else if eq $rule.freq "WEEKLY" -}}  
    {{- $result = partial "recurrence/weekly_frequency.html" (dict "rule" $rule) -}}
  {{- else if eq $rule.freq "MONTHLY" -}}
    {{- $result = partial "recurrence/monthly_frequency.html" (dict "rule" $rule) -}}
  {{- else if eq $rule.freq "YEARLY" -}}
    {{- $result = partial "recurrence/yearly_frequency.html" (dict "rule" $rule "page" .) -}}
  {{- end -}}
</div>